@media only screen and (max-width: 991px) {
  .overlay {
    background-color: #071ffd;
    opacity: 0.8;
    z-index: 2;
    cursor: pointer;
    height: 100%;
    width: 90%;
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .navbar > .hidden {
    display: none;
  }

  header {
    display: block;
    padding: 20px;
    background-color: #fff;
  }

  .navbar > ul {
    display: flex;
    flex-direction: column;
  }

  header .logo {
    display: flex;
    justify-content: space-between;
  }

  header > .logo > .hidden {
    display: none;
  }

  header > .logo > .fa-times {
    background-color: blue;
    padding: 10px;
    cursor: pointer;
    color: white;
  }

  header > .logo > .fa-bars {
    background-color: blue;
    padding: 10px;
    cursor: pointer;
    color: white;
  }

  .navbar ul .navbar-item {
    padding: 0;
    margin: 0;
  }

  .navbar ul .navbar-item a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    text-align: left;
    border-radius: 16px;
    font-size: 18px;
  }

  .navbar ul .navbar-item a:hover :active {
    background: #071ffd;
    color: #fff;
  }

  .port-card .portfolio-tab ul li {
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 10px;
    letter-spacing: 0;
    text-align: left;
    color: #424040;
  }
}

@media only screen and (min-width: 992px) {
  .navbar > .menu-item {
    display: flex;
  }

  .intro-wrapper {
    display: flex;
    padding: 40px;
    flex-direction: column;
    background: #fff url(../img/Headerbg.svg) no-repeat;
    border-bottom-left-radius: 85px;
  }

  .intro-wrapper .container {
    margin: 0 15%;
  }

  header > .logo > .fa-bars {
    display: none;
  }

  header > .logo > .fa-times {
    display: none;
  }

  .port-card .portfolio-tab {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 1px solid #dfe1e6;
    box-shadow: rgba(100, 100, 139, 0.2) 0 7px 29px 0;
    background-color: #fff;
  }

  .port-card .portfolio-tab .badge li {
    padding: 1vw 3vw;
    background: #ebebff;
    border-radius: 2vw;
    margin: 0 8px 0 0;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #071ffd;
  }

  .btn-white {
    padding: 12px;
    border: 1px solid #071ffd;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: #fff;
    width: 30%;
    height: 48px;
    margin-top: 20px;
    color: #071ffd;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    outline: none;
  }

  .btn-white-one {
    padding: 12px;
    border: 1px solid #071ffd;
    box-sizing: border-box;
    border-radius: 16px;
    background: #071ffd;
    width: 30%;
    height: 48px;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    outline: none;
  }

  .btn-white-one:hover {
    background: #fff;
    color: #4053fc;
  }

  .intro-wrapper .intro-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #172b4d;
  }

  .about-me-section .container {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .lang .dropdown-li ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  .contact-bg form {
    padding: 5vw 24vw;
  }

  form input[type="submit"] {
    display: block;
    cursor: pointer;
    margin: 0 auto;
  }

  form input[type="submit"]:hover {
    background: #6070ff;
    color: #fff;
  }

  .contact-bg {
    background: url(../img/contactbg.png) no-repeat center center;
    background-size: cover;
    color: #fff;
    border-top-left-radius: 89px;
    padding: 0;
    margin: 0;
  }
}
