@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}

section .navbar {
  padding: 30px;
}

.navbar ul {
  display: flex;
  margin: 20px;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.navbar ul li {
  list-style: none;
}

.navbar ul .navbar-item a {
  text-decoration: none;
}

.lang {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lang .child {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
}

.lang .dropdown-li {
  display: block;
}

.lang .dropdown-li ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.port-card .portfolio-tab li {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #7a869a;
  list-style: none;
}

.lang .dropdown-li ul li {
  display: flex;
  align-items: center;
  margin: 12px;
  padding: 9px;
  background: #f7f7f9;
  border-radius: 8px;
}

.port-card .portfolio-tab li span {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #7a869a;
  list-style: none;
  padding: 10px;
}

.lang .dropdown-li ul li span {
  padding: 10px;
  align-self: center;
  color: #253858;
}

.navbar ul .navbar-brand a {
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.intro-wrapper {
  display: flex;
  padding: 40px;
  flex-direction: column;
  background-image: url("./img/background.svg");
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat;
}

button:hover {
  transform: rotate(360deg);
  transform: scale(1.01);
}

.intro-wrapper .intro-heading {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #172b4d;
}

.intro-wrapper .intro-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #172b4d;
}

.port-card .portfolio-tab ul {
  display: flex;
  padding: 0;
}

.intro-wrapper .connect-heading {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

.about-me-section .cover-div button {
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #fff;
  width: 124px;
  height: 48px;
  margin-top: 20px;
  color: #396df2;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.intro-wrapper .connect-links ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.intro-wrapper .connect-links ul li {
  list-style: none;
  padding: 10px;
}

.port-card .portfolio-tab .badge li {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  margin: 0 8px 0 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.port-card .portfolio-tab .badge li :hover {
  color: #ebebff;
  background: #6070ff;
}

.port-card {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  padding: 40px;
}

.port-card .portfolio-tab {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #dfe1e6;
  padding: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.port-card .portfolio-tab figure {
  width: 100%;
  margin: 0;
}

.port-card .portfolio-tab h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.port-card .portfolio-tab .darker-text {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 6px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
  list-style: none;
  padding: 5px;
  text-transform: uppercase;
}

.port-card .portfolio-tab .dot {
  background-color: #bbb;
  border-radius: 10%;
}

.port-card .portfolio-tab p {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.about-me-section .cover-div {
  display: flex;
  flex-direction: column;
}

.port-card .portfolio-tab .portfolio-call-btn button {
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #fff;
  width: 50%;
  margin-top: 20px;
  color: #396df2;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

.about-me-section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px;
  margin: 5px;
}

.about-me-section .cover-div .intro-heading {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #172b4d;
}

.about-me-section .cover-div .intro-text {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.about-me-section .cover-div .connect-heading {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

.about-me-section .cover-div .connect-links ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.about-me-section .cover-div .connect-links ul li {
  list-style: none;
  padding: 10px;
}

.contact-bg {
  background-image: url(./img/contact.png);
  background-size: cover;
  color: #fff;
}

.contact-bg form {
 padding: 6vw;
}

.form-group * {
  width: 100%;
  margin-bottom: 3vw;
  padding: 3vw;
  border-radius: 2vw;
  border: #fff solid 0.1px;
}

form h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

form input {
  padding: 2vw;
  border-radius: 1vw;
  border: #fff solid 0.1px;
}
